html {
  background-color: #95AFBA;
}

hr {
  height: 1px;
}

blockquote {
  position: static;
}

.category h2 {
  margin-top: 0;
}

.pagelist a {
  border-bottom: 0px;
}

#container code {
  font-size: 15px;
  padding: 0;
  margin: 0 2px;
}

table.hlcodetable td {
  padding: 0;
  border: 0 none;
  margin: 0;
}
