<!DOCTYPE HTML>
<html>
  <head>
    <link rel="Stylesheet" type="text/css" href="{{ site.root }}/static/css/colorful.css">
    <link rel="Stylesheet" type="text/css" href="{{ site.root }}/static/css/style.css">
    <link rel="shortcut icon" href="{{ site.root }}/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ site.root }}/favicon.ico" type="image/x-icon">
    <link rel="alternate" type="application/atom+xml" href="atom.xml" title="Atom feed">
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="{{ site.keywords }}"/>
    <meta name="description" content="{{ site.description }}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% block extra_scripts %}{% endblock %}
  </head>

  <body>
    <div id="container" class="typo">
      {% block container %}
      {% endblock %}
    </div>
    <div id="footer">
      <div class="footer-left">
        <p>
        Copyright © 2012-{{ site.time.strftime("%Y") }} {{ site.author }}.
        Powered by <a href="http://simiki.org/" target="_blank">Simiki</a>.
        Theme by <a href="https://github.com/tankywoo/yasimple_x2" target="_blank">YASimple_X2</a>.
        </p>
        <p>本作品采用<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议</a>进行许可。</p>
      </div> <!-- end footer-left -->
      <div class="footer-right">
        <p>站点最后生成 {{ site.time.strftime("%Y-%m-%d %H:%M:%S") }}</p>
        <p><a href="https://github.com/tankywoo/wiki.tankywoo.com">Fork me on Github</a></p>
        <p><a href="http://www.miitbeian.gov.cn/">京ICP备16016622号</a></p>
      </div> <!-- end footer-right -->
    </div>

    {% block script %}
    {% endblock %}

    <script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F754de327571c0ba7ff50a61fc964e196' type='text/javascript'%3E%3C/script%3E"));
    </script>
  </body>
</html>
