body{
	font-size: 62.5%;
}

h1{
	font-size: 2.4em;
}

h2{
	font-size: 2.0em;
}

h3{
	font-size: 1.6em;
}

h4{
	font-size: 1.6em;
}

h5{
	font-size: 1.6em;
}


#wrapper {
    width:960px;
    margin: 0 auto;
}

#title {
    color:#366D9C;
    text-align:center;
    margin: 0 atuo;
    font-size:28px;
    font-weight:bold;
    border-bottom:4px solid #FFBC29;
    margin-top:20px;
    padding-bottom:5px;
}

h1 {
    color: #487858;
    margin-top:30px;
    margin-bottom:10px;
    padding-left:10px;
    border-left: 5px solid #366D9C;

}

h2, h3, h4, h5, h6 {
    color: #999;
}


code {
    background-color: #EEE;
    padding:2px;
}

pre {
    background-color: #EBEBEB;/* #FBFBF7; */ /* #B7BECC;*/
    padding: 10px;
	-moz-border-radius: 10px;      /* Gecko browsers */
	-webkit-border-radius: 10px;   /* Webkit browsers */
	border-radius:10px;            /* W3C syntax */
}

p {
    margin:5px 0;
	font-size:1.4em;
}

#footer {
    border-top: 1px dashed #999;
    margin-top: 20px;
    padding-top:10px;
    text-align: right;
    font-size:12px;
    color: #999;
}

ul li {
    margin-top:5px;
}

