/* clear the float problem */
.clearfix:after {
	visibility: hidden;
	clear: both;
	font-size: 0;
	content: '.';
	display: block;
	height: 0;

}

* html .clearfix{zoom: 1;}      /* IE6.0 */
*:first-child + html .clearfix{zoom: 1;}    /* IE7.0 */

a, a:hover, a:visited {
	text-decoration: none;
	color: #00FF00;
}

html{
	font-family : 'Courier New';
}

body{
	font-size: 16px;
	background-color: #000000;
	color: #BBBBBB;
	font-family : 'Courier New';
}

h1{
	font-size: 20px;
}

h2, h3, h4{
	font-size: 16px;
}

body{
	margin: 0 20px;
}

#wrapper {
    width:960px;
    margin: 0 auto;
}

#header ul{
	float: left;
	display: block;
	font-size: 16px;
}

#header ul li{
	float: left;
	display: block;
	margin: 0 10px;
	padding: 10px 0;
	border-bottom: 5px solid #555;
}

#title {
    color: #5555FF;
    text-align:center;
    margin: 0 atuo;
    font-size:28px;
    font-weight:bold;
    border-bottom:3px solid #5555FF;
    margin-top:20px;
    padding-bottom:5px;
}

h1 {
    color: #3CAD96;
    margin-top:30px;
    margin-bottom:10px;
    padding-left:10px;
    border-left: 5px solid #366D9C;

}

h2, h3, h4, h5, h6 {
    color: #3C55B6;
}

h2 {
    margin-top:10px;
    margin-bottom:5px;
    padding-left:5px;

}

code {
    /*background-color: #0000BB;*/
    background-color: #002B36;
	color: #667B00;
	display: inline-block;
	margin: 0 5px;
    padding:1px 8px;
	border: 2px solid #5555FF;
	border-width: 0 1px 1px 0;
	-moz-border-radius: 3px;      /* Gecko browsers */
	-webkit-border-radius: 3px;   /* Webkit browsers */
	border-radius:3px;            /* W3C syntax */
}


/*
code:hover {
	background: #57B8C5;
	color: white;
}
*/

pre {
    background-color: #000900;/* #FBFBF7; */ /* #B7BECC;*/
    padding: 10px;
	-moz-border-radius: 10px;      /* Gecko browsers */
	-webkit-border-radius: 10px;   /* Webkit browsers */
	border-radius:10px;            /* W3C syntax */
	font-size: 16px;
	font-family : 'Courier New';
}

/*
pre:hover {
	background-color: #EBEEFA;
}
*/
p {
    margin:5px 0;
	font-size:16px;
}

table {
	border: 3px solid #B1CDE3;
	padding: 0px;
	margin 0 auto;
	border-collapse: collapse;
}

td {
	border: 2px solid #B1CDE3;
	background: #FFF;
	padding: 3px;
	color: #4F6B72;
}

#footer {
    border-top: 1px dashed #999;
    margin-top: 20px;
    padding-top:10px;
    text-align: right;
    font-size:12px;
    color: #999;
}

ul li {
    margin-top:5px;
}

/* for syntaxhighlighter */
.code{
	font-size: 13px;
}

